@using Reviews.ViewModels;
@model LoginViewModel
<form asp-action="Login" method="post">
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div class="form-group my-3">
        <button type="submit" class="btn btn-primary">Login</button>
        <a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Cancel</a>
    </div>
</form>